/.DS_Store
/python-cv-faceorientation/img/
/python-cv-faceorientation/.env/
python-cv-faceorientation/.env
/Constancia de actividades de Retribución Social.docx
/Informe de actividad de Retribución Social.docx